[submodule "lovedebug"]
	path = Quadtastic/lib/lovedebug
	url = ../Ridge/lib/lovedebug
[submodule "luafilesystem"]
	path = Quadtastic/lib/luafilesystem
	url = git@github.com:keplerproject/luafilesystem.git
